*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
linkedin-sdk/build/generated/not_namespaced_r_class_sources/
linkedin-sdk/build/intermediates/
linkedin-sdk/build/
.idea/
