<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>320717259597-v02bjkqjhrc6agcmt4mvh8esir05vfsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320717259597-v02bjkqjhrc6agcmt4mvh8esir05vfsj</string>
	<key>API_KEY</key>
	<string>AIzaSyBXqC0zwSgs7R1i4rItwkgTC4YQht3cda0</string>
	<key>GCM_SENDER_ID</key>
	<string>320717259597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handzforhire.handzforhire</string>
	<key>PROJECT_ID</key>
	<string>handz-8ac86</string>
	<key>STORAGE_BUCKET</key>
	<string>handz-8ac86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320717259597:ios:a4ea8a260b2ae5ef</string>
	<key>DATABASE_URL</key>
	<string>https://handz-8ac86.firebaseio.com</string>
</dict>
</plist>